In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
rental = pd.read_csv("data.csv", index_col=0, low_memory=False)

In [10]:
rental.head()

,Status,Region,Lat,Lon,Elev,Pop,Bed,Bath,Garage,Area,Price,isFurnished
Place,,,,,,,,,,,,
Ofako,2,1,5.59,-0.45,249,16986,2.0,2.0,0.0,0.0,150,0
Ofako,1,1,5.66,-0.27,246,407491,2.0,2.0,0.0,0.0,150,0
Ofakor,2,1,5.59,-0.45,249,16986,2.0,2.0,0.0,0.0,150,0
Ofankor,1,1,5.66,-0.27,246,407491,2.0,2.0,0.0,0.0,150,0
Ablemkpe,1,1,5.61,-0.22,269,800486,3.0,4.0,0.0,0.0,1027,0

In [12]:
rental.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82327 entries, Ofako to Datano
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Status       82327 non-null  int64
 1   Region       82327 non-null  int64
 2   Lat          82327 non-null  float64
 3   Lon          82327 non-null  float64
 4   Elev         82327 non-null  int64
 5   Pop          82327 non-null  int64
 6   Bed          81531 non-null  float64
 7   Bath         81391 non-null  float64
 8   Garage       67287 non-null  float64
 9   Area         55521 non-null  float64
 10  Price        82327 non-null  int64
 11  isFurnished  82327 non-null  int64
dtypes: float64(6), int64(6)
memory usage: 8.2+ MB

In [14]:
rental.isnull().sum()

Status             0
Region             0
Lat                0
Lon                0
Elev               0
Pop                0
Bed              796
Bath             936
Garage         15040
Area           26806
Price              0
isFurnished        0
dtype: int64

In [15]:
rental["Bed"].fillna("No Data", inplace = True)

In [16]:
rental["Bath"].fillna("No Data", inplace = True)

In [17]:
rental["Garage"].fillna(0, inplace = True)

In [18]:
rental["Area"].fillna("No Data", inplace = True)

In [19]:
rental.isnull().sum()

Status         0
Region         0
Lat            0
Lon            0
Elev           0
Pop            0
Bed            0
Bath           0
Garage         0
Area           0
Price          0
isFurnished    0
dtype: int64

In [20]:
rental.to_csv("new_data.csv")

In [21]:
rental.head(1)

,Status,Region,Lat,Lon,Elev,Pop,Bed,Bath,Garage,Area,Price,isFurnished
Place,,,,,,,,,,,,
Ofako,2,1,5.59,-0.45,249,16986,2,2,0.0,0,150,0